@page "/khongduoctruycap.html"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Giới hạn truy cập";
}

<header>
    <div style="margin:60px auto; max-width:600px; padding:20px; box-shadow: 0 3px 15px rgb(0 0 0 / 0.3); border-radius:10px;">
    <h1 class="text-danger margin-bott-10"><strong>@ViewData["Title"]</strong></h1>
        <h4 class="text-danger"><strong>Bạn chưa được cấp quyền truy cập trang này</strong></h4>
    </div>
</header>
